<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板システム</title>
</head>
<body>
<h3>掲示板アプリケーション</h3>
<form th:action="@{/article/create}" method="post" th:object="${articleForm}"> 
投稿者名：<input type="text" name="name" th:field="*{name}"><br>
投稿内容：<br><textarea name="content" cols="50" rows="5" th:field="*{content}"></textarea><br>
<button>記事投稿</button>
</form>
<br>
<hr>

<div th:each="article :${articleList}">
	<form th:action="@{'/article/delete?id=' + ${article.id}}" method="post">
	投稿ID：<span th:text="${article.id}"></span><br>
	投稿者名：<span th:text="${article.name}"></span><br>
	投稿内容：<span th:text="${article.content}"></span><br><br>
	<button>記事削除</button>
	</form>
	<hr>
</div>

</body>
</html>